/* BODY */
body {
  height: 100vh;
  background-color: #f7bbbb;
}

/* NAVBAR */
.navbar-dark .navbar-toggler {
  border-color: rgba(255, 255, 255, 0);
}

/* HEADER */
.jumbotron {
  background-color: #a71c0a;
  color: #333232;
  margin: 55px 0px 0px 0px;
  background-image: url("../img/banner-img.jfif");
  background-size: cover;
}

/* MAIN */
main {
  margin: 50px 0px;
}
























.collapse-options {
    margin-top: 20px;
}
.home-collapse {
    margin: 10px 0;
}
.home-collapse-btn,
.modal-btn {
    color: #333232;
    background-color: #630303;
}
.modal-btn {
    margin-top: 15px;
}
.card {
    border: none;
}
.card-img-top {
    width: 100%;
    height: 200px;
}
.hotel-card .btn-reserva {
    width: 100%;
    border-radius: 0px;
}
.btn-outline-secondary {
    background-color: #9abca7;
    color: whitesmoke;
    border-color: whitesmoke;
}
.btn-outline-secondary:hover {
    background-color: #630303;
}
.btn-outline-danger {
    background-color: #630303;
    color: whitesmoke;
    border-color: whitesmoke;
}
.btn-outline-danger:hover {
    background-color: #bb5151;
}
.tab-content {
    margin-top: 20px;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: black;
    background-color: #79d5fc;
}

/* FOOTER */
footer {
    padding: 10px 10px 0 10px;
    margin-bottom: 0px;
    color: white;
}
    footer .container div div {
        margin: 10px 0;
    }
        footer .container div div address {
            margin: 0;
        }
        footer .container div div a {
            color: white;
            text-decoration: none;
        }
            footer .container div div a:hover {
                font-size: large;
            }